titleFont "Segoe UI" 14
paragraphFont "Segoe UI" 11
legendFont "Segoe UI" 10
fuentes {
    Armenia Mercar
    Barranquilla Barranquillita
    Barranquilla Granabastos
    "Bogotá, D.C." Corabastos
    "Bogotá, D.C." Paloquemao
    "Bogotá, D.C." "Plaza Las Flores"
    "Bogotá, D.C." "Plaza Samper Mendoza"
    Bucaramanga Centroabastos
    Cali Cavasa
    Cali "Santa Elena"
    Cartagena Bazurto
    Cúcuta Cenabastos
    Cúcuta "La Nueva Sexta"
    "Florencia (Caquetá)" ""
    Ibagué "Plaza La 21"
    "Ipiales (Nariño)" "Centro de acopio"
    Manizales "Centro Galerías"
    Medellín "Central Mayorista de Antioquia"
    Medellín "Plaza Minorista \"José María Villa\""
    Montería "Mercado del Sur"
    Neiva Surabastos
    Pereira "La 41-Impala"
    Pereira Mercasa
    Pasto "El Potrerillo"
    Popayán "Plaza de mercado del barrio Bolívar"
    "Santa Marta (Magdalena)" ""
    Sincelejo "Nuevo Mercado"
    "Tibasosa (Boyacá)" Coomproriente
    Tunja "Complejo de Servicios del Sur"
    Valledupar Mercabastos
    Valledupar "Mercado Nuevo"
    Villavicencio CAV
}

